body {
  background-color: #fbc547;
  color: #696969;
  font-family: 'Bangers', cursive;
  padding: 0 1rem;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  margin-bottom: 1rem;
  width: 10rem;
}

.index {
  font-family: 'Anton', sans-serif;
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 2rem;
  }
  button {
    background-color: #A46A43;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    outline: none;
  }
}

.not-home{
  font-family: 'Anton', sans-serif;
}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  list-style-type: none;
  padding: 2rem 0;
  li {
    padding-right: 0.25rem;
    color: #888888;
    font-size: 1.15rem;
    font-family: "Anton";
  }
  li#home {
    color: red;
  }
  a {
    text-decoration: none;
    color: inherit;

    &:visited, &:hover, &:active {
      color: inherit;
    }
  }
}
