---
title: Not Home
test_list:
 - one
 - two
 - three
url: not-index.html
---

<div class="not-home">
	<%= image_tag 'mug.png', class: "logo" %>

	<h1>List</h1>

	<% current_page.data.test_list.each do |test| %>
		<p><%= test %></p>
	<% end %>

	<h4>A random helper</h4>
	<h5><%= test_me_method("something nice") %></h5>
</div>
